body {
	background: linear-gradient(-45deg, #ffbeae, #7188bfa1, #edd5cd,  #ffd781ce);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.global_container {
	position: relative;
}
.canvas_container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 100px;
	width: 1000px; 
	height: 404px;
	box-sizing: border-box;
}
#background_controller {
	background: url(img/game-screen.svg);
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: absolute;
	top: 0px;
	width: 1000px; 
	height: 404px;
	box-sizing: content-box;
}
#game_field {
	background: url(img/squares.svg);
	background-repeat: no-repeat;
	position: absolute;
	width: 480px; 
	height: 336px;
	display: block;
	padding: 0px;
	z-index: 10;
	left: calc(50% - 240px);
	top: calc(50% - 168px);
	box-sizing: content-box;
}
.score_container {
	font-family: sans-serif ;
	font-size: 30px;
	color: rgb(70, 70, 70);
	margin-top: 50px;
	position: relative;
	top: 60px;
	display: flex;
	justify-content: center;
}
.score_container>#score_img {
	padding-right: 6px;
	flex-basis: 50%;
	text-align: right;
}
.score_container>#score_value {
	flex-basis: 50%;
	text-align: left;
}

/* Элементов этого класса пока нет */
/* Здесь тестирую цвета */
.button {
	position: absolute;
	z-index: 11;
	display: block;
	color: #f3c769;
	color: #be6c6a;
	color: #ceafaf;
	background-color: #edd5cd;
}
#butt-start {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 452px;
	left: calc(50% - 200px);
	z-index: 12; 
	background: linear-gradient(165deg, #c6c9d6, #485778);
	border: solid #5f709477 2px;
	border-radius: 5%;
	width: 100px;
	height: 50px;
	box-shadow: ;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
	font-size: 25px;
	color: #ffffff;
	;


}