.global_container {
	position: relative;
}
.canvas_container {
    margin: 100px;
    margin: auto;
    position: relative;
    top: 100px;
    width: 1000px; 
    height: 404px;
}
#background_controller {
    background: url(img/game-screen.svg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top: 0px;
    width: 1000px; 
    height: 404px;
}
#game_field {
    background: url(img/squares.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 480px; 
    height: 320px;
    display: block;
    padding: 0px;
    z-index: 10;
    left: calc(50% - 240px);
    top: calc(50% - 160px);
}

.score_container {
    font-family: sans-serif ;
    font-size: 30px;
    color: rgb(51, 50, 50);
    margin-top: 50px;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
}
.score_container>#score_img {
    padding-right: 10px;
    flex-basis: 50%;
    text-align: right;
}
.score_container>#score_value {
    flex-basis: 50%;
    text-align: left;
}